table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

thead th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead, tbody {
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 12px;
}

tbody tr:empty {
  text-align: center;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.button-create {
  background-color: #007bff;
  margin-top: 2em;
}

.button-create:hover {
  background-color: #0056b3;
}

.button-delete {
  background-color: #ba0505;
}

.button-delete:hover {
  background-color: #c83838;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 2em;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 2px 8px rgba(0, 123, 255, 0.4);
}

input::placeholder {
  color: #888;
}




